/* css stylesheet */

body{
	font-family: sans-serif;
}

/* sample button class CSS */
.submit {
	background-color: #4CAF50;
	border: none;
	color: white;
	text-align: center;
	display: inline-block;
	padding: 10px 22px;
	font-size:14px;
}
.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	text-align: center;
	display: inline-block;
	font-size:16px;
}

.button:hover {
	background: #006400;
}
