<!DOCTYPE html>
<html>
  <head>
	<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    {% block title %}
    <title> Story thing </title>
    {% endblock %}
  </head>
  <body style = "background-image: url('static/backgroundreading.jpg');">
  <center><div style="text-align:center; background-color: lightgray; width: 700px; margin-top:100px; border-radius: 30px; border: 2px dashed #ffffff; box-shadow: 0 0 0 8px #70ff0030;">
	{% set messages = get_flashed_messages() %}
	{% for message in messages %}
		<center><i><h4 style="margin-bottom:-10px;">{{message}}</h4></i></center>
	{% endfor %}

    {% block body %}
    <center>
	  <br>
      <h2> Welcome home, {{username}}! </h2>
      <p> Pick a button:</p>
      <form method = "GET" action = "create">
	<button type = "submit" class=button> Create a New Story </button>
      </form><br>
      <form method = "GET" action = "view">
	<button type = "submit" class=button> View Your Stories </button>
      </form><br>
      <form method = "GET" action = "edit">
	<button type = "submit" class=button>Add to an Existing Story </button>
      </form>
      <br>
      <form method = "GET" action = "logout">
	<button type = "submit" class=button>Logout </button>
      </form>
	  <br>
    </center>
    {% endblock %}
  </div></center>


  </body>
</html>
