<!DOCTYPE html>
<html>
  <head>
    {% block title %}
    <title> Story thing </title>
    {% endblock %}
  </head>
  <body>
	{% set messages = get_flashed_messages() %}
	{% for message in messages %}
		<i><h4>{{message}}</h4></i>
	{% endfor %}
	
    {% block body %}
    <center>
      <h2> Welcome home, {{username}}! </h2>
      <p> Pick a button </p>
      <form method = "GET" action = "create">
	<button type = "submit"> Create a New Story </button>
      </form>
      <form method = "GET" action = "view">
	<button type = "submit"> View Your Stories </button>
      </form>
      <form method = "GET" action = "edit">
	<button type = "submit">Add to an Existing Story </button>
      </form>
      <br>
      <form method = "GET" action = "logout">
	<button type = "submit">Logout </button>
      </form>
    </center>
    {% endblock %}
	
	
    
  </body>
</html>
      
