{% extends "base.html" %}

{% block title %}
<title> Add to Stories </title>
{% endblock %}

{% block body %}
<center>
    <h2> Stories you have not contributed to </h2>
  <table>
    <tr>
      <th> Title </th>
      <th> Date Modified </th>
      <th> Last Edited by </th>
    </tr>
    {% for entry in story_list %}
    <tr>
      <td>
        <form method = "POST">
	<a href = "{{ url_for('edit_single', id = entry[1]) }}"> {{ entry[0] }} </a>
      </td>
      <td> {{ entry[2] }} </td>
      <td> {{ entry[5] }} </td>
    </tr>
    {% endfor %}
  </table>
</center>
{% endblock %}
