{% extends "base.html" %}

{% block title %}
<title> {{title}} </title>
{% endblock %}

{% block body %}

<form method = "GET" action = {{back}}>
	<button type="submit">Back</button>
</form>
<h3> {{title}} </h3>
<p><b>Last Addition: </b> {{lastaddition}} <br> ~ {{lastEditor}}</p>
</center>
<form method = "POST" action = "/edit_submit">
  Your addition:<br>
  <input type = "hidden" name = "title" value = "{{title}}"> 
  <input type = "hidden" name = "id" value = "{{id}}"> 
  <textarea rows = "15" cols = "200" name = "addition" value=''>
  </textarea>
  <button type = "submit"> Submit </button>
</form>
{% endblock %}

