{% extends "base.html" %}

{% block title %}
<title> {{title}} </title>
<style>
  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    padding: 10px 22px;
    font-size:14px;
  }
  button:hover {
    background: #006400;
  }
</style>
{% endblock %}

{% block body %}
<br>
<form method = "GET" action = {{back}}>
	<button type="submit">Back</button>
</form>
<h3> {{title}} </h3>
<p><b>Last Addition: </b> {{lastaddition}} <br> ~ {{lastEditor}}</p>
<form method = "POST" action = "/edit_submit">
  Your addition:<br>
  <input type = "hidden" name = "title" value = "{{title}}">
  <input type = "hidden" name = "id" value = "{{id}}">
  <textarea rows = "15" cols = "90" name = "addition" value=''></textarea maxlength = "200">
  <br>
  <button type = "submit"> Submit </button>
</form>
<br>
{% endblock %}
