{% extends "base.html" %}

{% block title %}
<title> View Stories </title>
{% endblock %}

{% block body %}
<form method = "GET" action = {{back}}>
	<button type="submit">Back</button>
</form>
<center>
    <h2> View your stories, {{username}} </h2>
  <table>
    <tr>
      <th> Title </th>
      <th> Date Modified </th>
      <th> Last Edited by </th>
    </tr>
    {% for entry in story_list %}
    <tr>
      <td>
        <form method = "POST">
        <a href = "{{ url_for('view_single', id = entry[1]) }}"> {{ entry[0] }} </a>
      </td>
      <td> {{ entry[2] }} </td>
      <td> {{ entry[5] }} </td>
    </tr>
    {% endfor %}
  </table>
</center>
{% endblock %}
